.Orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 , p{
    font-size: 20px;
    font-family: Montserrat;
    color: #262626;
}
.card {
  margin: 12px;
}